.login{
    background-color: #eeeeee;
    
    color: #333333;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    width: 500px;
    margin-top: 10vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #bbbbbb;

}

#login-error {
    padding-top: 10px;
    color: red;
}


#login-page-logo {
    margin-top: 5px;
    margin-left: 5px;
    
    color: #52566a;
    display: inline-block;
    text-align: left;
    
}

#login-page-logo a:link {
   
    color: #52566a;
    text-decoration: none;
}

#login-page-logo a:visited {
    
    color: #52566a;
    text-decoration: none;
}

#login-page-logo a:hover {
   
    color: #777777;
    text-decoration: none;
}

#goback-img {
    display: inline-flex;
    margin:auto;
    vertical-align: top; 
}
#goback {
    line-height: 45px;
    display: inline-flex;
    margin: auto;
    vertical-align: middle;
}

.login a:link{
    color: #111111;
    text-decoration: none;

}

.login a:visited {
    color: #111111;
    text-decoration: none;
}

.login a:hover {
    color: #777777;
    text-decoration: none;
    
}
.loginform {
    margin-top: 20px;
}


@media screen and (max-width: 1024px)
{
    .login {
        font-size: 20px;
        width: 100%;
        height: 92vh;
        background-color: #eeeeee;
        border: none;
    }
    
}