
#nav-logo {
    
    padding-top: 3px;
    
}

.main-content-container {
    min-height: 85vh;
}
.content {
    
    /*background-color: #eeeeee;*/
   
    font-family: 'Poppins', sans-serif;
    width: 600px;
    text-align: center;
    justify-content: center;
    margin: auto;
    
    padding-top: 20px;
    /*
    border-radius: 4px;
    border: 1px solid #bbbbbb;*/
}

.post-container {
    background-color: #eeeeee;
    
     font-family: 'Poppins', sans-serif;
     width: 600px;
     text-align: center;
     justify-content: center;
     margin: auto;
     margin-top: 20px;
     padding-top: 20px;
     border-radius: 4px;
     border: 1px solid #bbbbbb;
     padding-bottom: 30px;
}

.viewimage {
    text-align: center;
    justify-content: center; 
}

#image-post-title {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: left;
    margin-left: 30px;
}

.image-post-author-container {
    
    text-align: left;
    margin-left: 30px;
    font-size: .8rem;
}

#by-author {
    display: inline;
}

#image-post-author {
    display: inline;
    color: #555555;
    font-weight: bold;
    font-size: .8rem;
    text-align: left;
    
}

.comment {
    margin: auto;
    width: 100%;
   
    box-sizing: border-box;
    display: inline-flex;
    
    
    
}

#comments {
    width: 100%;
    font-size: 1.2rem;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 5px;
    padding: 10px;
    overflow: hidden;
    resize: none;
    background-color: #eeeeee;
    border: none;
    outline: none;
}

#comments:active {
    border: none;
    outline: none;
}

.leave-comment-container {
    background-color: #eeeeee;
   
    font-family: 'Poppins', sans-serif;
    width: 600px;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    
    
    border-radius: 4px;
    border: 1px solid #bbbbbb;
}

.commentform {
    width: 100%;
}

#comment-text-box {
    margin: auto;
    display: flex;
}

#comment-button {
    width: 20%;
}

#comment-login {
    margin-right: 5px;
    height: 100%;
    cursor: pointer;
}

.comment p {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    padding-right: 70px;
}

.numofcomments-container {
    width: 95%;
    

    font-family: 'Poppins', sans-serif;
    
    text-align: center;
    justify-content: center;
    margin: auto;
    
}

#numofcomments {
    padding-top: 20px;
    padding-bottom: 10px;  
    text-align: left;  
}

.commentseperator {
    border-top: 1px solid #bbbbbb;
    width: 95%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.comment-card-body {
    
    background-color:#eeeeee;
    color: rgb(62, 65, 71);
    border-radius: 4px;
   /* border: 1px solid #bbbbbb;*/
    width: 100%;
    margin: auto;
    margin-top: 10px;
   
    padding: 10px;
	  
}


.speech-bubble-arrow {
    /*
    content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-right-color: #00aabb;
	border-left: 0;
    border-bottom: 0;*/
    border-right: 20px solid transparent;
    border-top: 20px solid #eeeeee;
    bottom: -20px;
    width: 20px;
    content: "";
    margin-left: 20px;
    right: 20px;
	
}

.card-username {
    font-weight: bold;
    font-size: .8rem;
    text-align: left;
    margin-left: 10px;
}

.card-comment {
    text-align: left;
    margin-left: 10px;
}


.comment a {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgb(62, 65, 71);
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 4px;
    color: #eeeeee;
    
}
.comment a:link {
    
    color: #eeeeee;
    text-decoration: none;
}


.comment a:visited {
    
    color: #eeeeee;
    text-decoration: none;
}

.comment a:hover {
    
    color: #bbbbbb;
    text-decoration: none;
}

img {
    padding: 5px;
    width: 100%;
}

#leave-comment {
    text-align: center;
    margin: auto;
    display: inline-block;
    
    
}

@media screen and (max-width: 1024px)
{
    .content {
        width: 100%;
        border: none;
    }

    .main-content-container {
        width: 100%;
    }

    #comment-button {
        width: 9rem;
        height: 3rem;
    }

    .comment-card-body {
        
        border-bottom: 1px solid #bbbbbb;
    }

    .post-container {
        max-width: 100%;
    }

    .leave-comment-container {
        max-width: 100%;
    }
    
}