
#nav-logo {
    
    padding-top: 3px;
    
}

#container {
    margin: 0 auto;
}

.search-results {
    min-height: 92vh;
    width: 100%;
    max-width: 120rem;
    margin: auto;
    padding: 0, 1.5rem;
   
}

.search-card{
    width: 14rem;
    margin: 5px;
}

.search-card-body {
    
    font-family: 'Poppins', sans-serif;
    background-color: #eeeeee;
    margin-top: 10px;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #bbbbbb;
    overflow-wrap: break-word;
}

.search-card-body a {
    color: #222629;
    text-decoration: none;
}

.search-card-body a:hover {
    text-decoration: none;
    color: #222629;
    background-color: #cccccc;
    filter: opacity(.9);
}

.serach-card-body a:visited {
    text-decoration: none;
    color: #222629;
}

.search-card-image{
    width: 100%;
}

.content {
   
    font-family: 'Poppins', sans-serif;
    width: 600px;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding-top: 20px;
  
}

.post-container {
    background-color: #eeeeee;
     font-family: 'Poppins', sans-serif;
     width: 600px;
     text-align: center;
     justify-content: center;
     margin: auto;
     margin-top: 20px;
     padding-top: 20px;
     border-radius: 4px;
     border: 1px solid #bbbbbb;
     padding-bottom: 30px;
}


.viewimage {
    text-align: center;
    justify-content: center; 
}

#image-post-title {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: left;
    margin-left: 30px;
}

.image-post-author-container {
    
    text-align: left;
    margin-left: 30px;
    font-size: .8rem;
}

#by-author {
    display: inline;
}

#image-post-author {
    display: inline;
    color: #555555;
    font-weight: bold;
    font-size: .8rem;
    text-align: left;
    
}

.comment {
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;  
}

#comments {
    width: 100%;
    font-size: 1.2rem;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 5px;
    padding: 10px;
    overflow: hidden;
    resize: none;
    background-color: #eeeeee;
    border: none;
    outline: none;
}

#comments:active {
    border: none;
    outline: none;
}

.leave-comment-container {
    background-color: #eeeeee;
   
    font-family: 'Poppins', sans-serif;
    width: 600px;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    
    
    border-radius: 4px;
    border: 1px solid #bbbbbb;
}

.commentform {
    width: 100%;
}

#comment-text-box {
    margin: auto;
    display: flex;
}

#comment-button {
    width: 20%;
}

#comment-login {
    margin-right: 5px;
    height: 100%;
    cursor: pointer;
}

.comment p {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    padding-right: 70px;
}

.numofcomments-container {
    width: 95%;
    

    font-family: 'Poppins', sans-serif;
    
    text-align: center;
    justify-content: center;
    margin: auto;
    
}

#numofcomments {
    padding-top: 20px;
    padding-bottom: 10px;  
    text-align: left;  
}

.commentseperator {
    border-top: 1px solid #bbbbbb;
    width: 95%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.comment-card-body {
    
    background-color:#eeeeee;
    color: rgb(62, 65, 71);
    border-radius: 4px;
   /* border: 1px solid #bbbbbb;*/
    width: 100%;
    margin: auto;
    margin-top: 10px;
   
    padding: 10px;
	  
}


.speech-bubble-arrow {
    
    border-right: 20px solid transparent;
    border-top: 20px solid #eeeeee;
    bottom: -20px;
    width: 20px;
    content: "";
    margin-left: 20px;
    right: 20px;
	
}

.card-username {
    font-weight: bold;
    font-size: .8rem;
    text-align: left;
    margin-left: 10px;
}

.card-comment {
    text-align: left;
    margin-left: 10px;
}


.comment a {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgb(62, 65, 71);
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 4px;
    color: #eeeeee;
    
}
.comment a:link {
    
    color: #eeeeee;
    text-decoration: none;
}


.comment a:visited {
    
    color: #eeeeee;
    text-decoration: none;
}

.comment a:hover {
    
    color: #bbbbbb;
    text-decoration: none;
}

.post-container img {
    padding: 5px;
    width: 100%;
}

#leave-comment {
    text-align: center;
    margin: auto;
    display: inline-block;
    
    
}

@media screen and (max-width: 1024px)
{
    .content {
        width: 100%;
        border: none;
    }

    .main-content-container {
        width: 100%;
    }

    #comment-button {
        width: 9rem;
        height: 3rem;
    }

    .comment-card-body {
        background-color: #dddddd;
        width: 95%;
        
    }

    .speech-bubble-arrow {
        
        border-right: 20px solid transparent;
        border-top: 20px solid #dddddd;
        bottom: -20px;
        width: 20px;
        content: "";
        margin-left: 35px;
        right: 20px;
        
    }

    .post-container {
        max-width: 100%;
    }

    .leave-comment-container {
        max-width: 100%;
    }
    
}