

.content {
    
    background-color: #eeeeee;
   min-height: 88vh;
    font-family: 'Poppins', sans-serif;
    width: 600px;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    padding-top: 20px;
    border-radius: 4px;
    border: 1px solid #bbbbbb;
}

.viewimage {
    text-align: center;
    justify-content: center;
    
}

.comment {
    margin: auto;
    width: 480px;
    
    border-color: #bbbbbb;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    
}

.comment p {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    
    padding-right: 70px;
}

.numofcomments {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 60px;
    text-align: left;
    
}

.commentseperator {
    border-top: 1px solid #bbbbbb;
    width: 480px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.comment a {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgb(62, 65, 71);
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 4px;
    
}
.comment a:link {
    
    color: #eeeeee;
    text-decoration: none;
}


.comment a:visited {
    
    color: #eeeeee;
    text-decoration: none;
}

.comment a:hover {
    
    color: #bbbbbb;
    text-decoration: none;
}

img {
    padding-left: 0px;
}

@media screen and (max-width: 768px)
{
    .content {
        border: none;
    }
}